@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --sidebar-width: 250px;
  --sidebar-width-mobile: 80px;
  --header-height: 64px;
  --border-color: #e9eef5;
  --primary-color: #4096ff;
}


body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #acacac;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #565353;

  transition: all 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}



.typing-status span {
  height: 8px;
  width: 8px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}


.typing-status span:nth-child(1) {
  animation: .4s blink infinite;
}

.typing-status span:nth-child(2) {
  animation: .7s blink infinite;
}

.typing-status span:nth-child(3) {
  animation: 1s blink infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}